:local(.title) {
    color: rgb(51, 51, 51);
    font-family: "Amazon Ember", Arial, sans-serif;
   
}
:local(.main){
    overflow: hidden;
    position: absolute;
    right: 0%;
    left:3%;
}
:local(.child){
    width: 160px;  
}

:local(.text) {
    font-family: "Amazon Ember", Arial, sans-serif;
    color: #0066c0;
    font-size: 13px;
    line-height: 19px;
    width: 160px;   
}

:local(.text:hover) {
    text-decoration: underline;
    cursor: pointer;
    color: #c45500;
}
  

:local(.review) {
    color: #0066c0;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px;
}

:local(.review:hover) {
    cursor: pointer;
    color: #c45500;
}

:local(.price) {
    color: #B12704 !important;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px;
}

:local(.price:hover) {
    cursor: pointer;
}

:local(.star) {
    display: inline;
}

:local(.star:hover) {
    cursor: pointer;
}

:local(.element:hover) {
    cursor: pointer;
}



:local(.menu) {
    display: inline-block;
    margin: 2%;
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap; 
}

:local(button) {
    display: block;
    padding: 15px;
    border-radius: 2px;
    border:1px solid rgb(168,171, 176);
    line-height: 0;
    box-shadow: 0 1px 0 rgba(255, 255, 255, .6) inset;
    background-color: rgb(241, 243, 245);
    text-align: center;
    box-sizing: border-box;
    margin: 0;
    font-size: 27px;
}

:local(button:hover) {
    background-color: #e7e9ec;
    cursor: pointer;
}
:local(.previous){
    position: absolute;
    top: calc(31% ); 
    z-index: 1;
    height: 36px;
    width: 36px;
    left: 1%      
}
:local(.next){
    position: absolute;
    top: calc(31% );
    z-index: 1;
    height: 36px;
    width: 36px;
    float: right;
    right: 1%
}
:local(.page){
    float:right;
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 13px!important;
    line-height: 19px!important;
}


