:local(.appContainer) {
    font-family: 'Lato', sans-serif; 
    padding: 3vmin;  
}

:local(.title) {
    color: rgb(51, 51, 51);  
    padding: 1vmin;
    font-size: 2.63vmin;

}

:local(.main) {
    overflow: hidden;
}

:local(.child) {
    padding-left: 2vmin;
    padding-right: 2vmin;
}

:local(.text) {
    color: #0066c0;
    font-size: 1.75vmin;
    line-height: 2.75vmin;
    width: 19vmin;   
}

:local(.text:hover) {
    text-decoration: underline;
    cursor: pointer;
    color: #c45500;
}

:local(.review) {
    color: #0066c0;
    font-size: 1.75vmin;
}

:local(.review:hover) {
    cursor: pointer;
    color: #c45500;
}

:local(.price) {
    color: #B12704 !important;
    font-size: 1.75vmin;
}

:local(.price:hover) {
    cursor: pointer;
}
:local(.indStar){
    width: 1px;
    height: 1px;
}

:local(.star:hover) {
    cursor: pointer;
}

:local(.element) {
    width: 20vmin;
    height: 20vmin;
}

:local(.element:hover) {
    cursor: pointer;
}

:local(.menu) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    align-content: center;
}

:local(.button) {
    width: 5vmin;
    height: 5vmin;
    border-radius: 0.5vmin;
    border:1px solid rgb(168,171, 176);
    box-shadow: rgba(255, 255, 255, .6) inset;
    background-color: rgb(241, 243, 245);
    font-size: 2vmin; 
    text-align: center;
    vertical-align: middle;
}

:local(.button:hover) {
    background-color: #e7e9ec;
    cursor: pointer;
}

:local(.page){
    float:right;
    padding-right: 3vmin;
    font-size: 1.75vmin;
    line-height: 2.75vmin;
}
:local(.primeInd){
    width: 6vmin;
    height:2vmin;
}
:local(.starInd){
    width: 3vmin;
    height:3vmin;
}
